
  *{
    margin: 10px;
    text-align: center;
  }
  header{
    border: 3px solid green;
    height: 10%;
    font-size: 1em;

  }
  nav{
    border: 3px solid green;
    height: 10%;
  }
  main{
    border: 3px solid green;
    height: 70%;
    font-size: 0.5em;  
    position: relative;
    /* background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255 255,255,0.1),url("/CSS.jpg")); */
    background-image: url("/main/CSS.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #box{
    position: absolute;
    right: 0;
    width: 100px;
  }

  footer{
    border: 3px solid green;
    height:10%;
    font-size: 0.7em;
  } 
  body{
    position: relative;
  }
  button{
   font-size:1em;
  }
  #aid{
    position: absolute;
    border: 3px solid blue;
    top:0px;
    left:600px;
  }
  #bookface{
    position: absolute;
    width: 80%;
    height: 80%;
    /* border:1px solid red;
    background-color: rgb(246, 245, 245);
    opacity: 0.5; */
    left:7% ;
    top: 7% ;

  }
  #outputText{
    color: rgb(255, 106, 0);
    border: 1px solid blue;
    height: 8% ;
    width: 97%;
  }
  #keyStatus{
    color:  rgb(255, 106, 0);
    border: 1px solid blue;
    position: absolute;
    bottom: 0;
    width: 97%;
    height: 8%;
  }

